@import '@/assets/layout/layout.scss';
@import 'primeicons/primeicons.css';


::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: var(--p-surface-200);
}

::-webkit-scrollbar
{
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color:var(--p-surface-400);
}

:root[class*='app-dark']{
  ::-webkit-scrollbar-track
  {
    background-color: var(--p-surface-800);
  }

  ::-webkit-scrollbar-thumb
  {
    background-color:var(--p-surface-600);
  }
}

